@import url('https://fonts.googleapis.com/css?family=Lato:300;700|Oswald:400;500');

body {
    font-family: Lato;
    padding:0 10px;
    color: #34495E;
}

/*---------------------------------------Nav */

.nav-item {
    font-family: Lato;
    font-size: 110%;
    letter-spacing: 4px;
    padding: 2px 0;
}

.nav-item a {
    text-decoration: none;
    color: #34495E;
    margin-left: 35%;
    margin-right: 35%;
    text-transform: uppercase;
    font-size: 100%;
}

@media (max-width: 630px) {
    .nav-item a {
        font-size: 49%;
        margin-left: 0%;
    }
    
}
.nav-item a:hover {
    border-bottom: 1px solid #777777;
}

.nav-link {
    width: 100%;
}
.active {
    border-bottom: 1px solid #777777;
    margin-left: 35%;
    margin-right: 35%;
}



/*---------------------------------------Top-image */
#img-fluid {
    height: 500px;
    width: 100%;
    background: url(../images/baka3.jpg) no-repeat;
}

@media (max-width: 630px) {
#img-fluid {
        height: 150px;
        background-size: cover;
        background-position: center;
        
    }
}

.image-col-12 {
    flex: 0 0 100%;
    max-width: 88%;
}

/*---------------------------------------Overtext */

.cover-text {
    color:#34495E;
    float: right;
    padding-right: 20px;
    font-family: Oswald;
    padding-top: 200px;
    letter-spacing: 1px;
}
.cover-text h2 {
    font-size: 48px;
}

.cover-text h3 {
    font-size: 30px;
    float: right;
}    


/*---------------------------------------Paper plane section */

#paper-plane-section {
    padding-top: 50px;
    background-color: #F4F6F6;
}

#paper-plane-section h2 {
    text-transform: uppercase;
    margin: 30px 0;
}

#bottom-text {
    padding-left: 170px;
    padding-top: 40px;
}

#paper-plane {
    height: 300px;
    width: 70%;
    background: url(../images/paper-plane.png) no-repeat center center;
}

/*---------------------------------------About me section */

#about-me {
    height: 860px;
    padding-top: 50px;
}

#about-me h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color:#34495E;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url(../images/profile-img.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#text-about {
    width: 100%;
    clear: both;
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 50px;
}


/*---------------------------------------Action buttons */

.btn {
    background-color:#D98880;
    border-color:#D98880; 
    color: white;
    font-family: Lato, sans-serif;
    font-size: 140%;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: #C0392B;
    border-color: #C0392B;
}

#btn-contact {
    padding-top: 220px;
    padding-left: 150px;
}

#btn-download {
    padding-left: 150px;
    padding-bottom: 200px;
}
   
/*---------------------------------------Bottom-image */

#bottom-image {
    background: url(../images/cph-nyhavn.jpg) no-repeat center;
    height: 420px;
    width: 100%;
}

@media (max-width: 768px) {
#bottom-image {
        height: 420px;
        background-size: cover;
        background-position: center;
        background: url(../images/cph-nyhavn-1.jpg) no-repeat;

    }
}

/*---------------------------------------Skills */

#my-skills {
    height: 400px;
    width: 100%;
    padding-top: 50px;
    color: #34495E;
}

#my-skills h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px 0;
}

.fab {
    height: 20px;
    width: 100%;
}

.skills-icons li {
    display: inline-block;
    list-style-type: none;
    font-size: 100px;
    margin-right: 30px;
    padding-top: 50px;
    padding-left: 110px;
}

.skills-icons h4 {
    padding-left: 10px;
    padding-top: 5px;
}

#java {
   padding-left: 1px;
}

#git {
    padding-left: 40px;
}

/*---------------------------------------Work experience */

#work-experience {
    height: 750px;
    padding-top: 50px;
    background-color: #f2d7d5;
}

#work-experience h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
    padding-bottom: 30px;
}

.table h4 {
    text-transform: uppercase;
}

.left-side {
   float: right;
   margin-top: 20px;
}

.dates {
    font-family: Lato, sans-serif;
    font-weight: 700;
    vertical-align: center;
}

.work {
    vertical-align: bottom;
}

.time-table {
    vertical-align: top;
}

/*---------------------------------------Portfolio */
/*---------------------------------------Work together */

#work-together {
    height: 500px;
    width: 100%;
    padding-top: 50px;
    background-color: #f2d7d5;
}

#work-together h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
    padding-bottom: 30px;
}

.center-form {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/*---------------------------------------Request text */
/*---------------------------------------Footer links */


.social-networks {
    line-height: 75px;
    list-style-type: none;
}

.social-networks li {
   float: right;
}

.social-networks i {
    font-size: 220%;
    letter-spacing: 20px;
    margin: 1%;
    padding: 5%;
    color: #34495E;
}

