@import url('https://fonts.googleapis.com/css?family=Lato:300;700|Oswald:400;500');

body {
    font-family: Lato;
    color: #34495E;
}

@media (max-width: 630px) {
    h2 {
        font-size: 1.5rem;
    }
}


/*---------------------------------------Nav */

.nav-item {
    font-size: 110%;
    letter-spacing: 4px;
    padding: 2px 0;
}

.nav-item a {
    color: #34495E;
    margin-left: 35%;
    text-transform: uppercase;
}

@media (max-width: 630px) {
    .nav-item a {
        font-size: 50%;
        margin-left: 0%;
        font-weight: 700;
    }
    
}
.nav-item a:hover {
    border-bottom: 1px solid #212F3D;
}

.nav-link {
    width: 100%;
}
.active {
    border-bottom: 1px solid #212F3D;
}


/*---------------------------------------Top-image */
#img-fluid {
    background-image: url(../images/baka3.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media (max-width: 630px) {
#img-fluid {
        height: 150px;
        background-size: cover;
        background-position: center;
        
    }
}

.image-col-12 {
    flex: 0 0 100%;
    max-width: 88%;
}

/*---------------------------------------Cover text */

.cover-text {
    color:#34495E;
    float: right;
    padding-right: 20px;
    font-family: Oswald;
    padding-top: 200px;
    letter-spacing: 1px;
}
.cover-text h2 {
    font-size: 48px;
}

.cover-text h3 {
    font-size: 30px;
    float: right;
}


.cover-text-small {
    color:#34495E; 
    font-family: Oswald;
    letter-spacing: 1px;
    text-transform: uppercase;
  
}
.cover-text-small h2 {
    font-size: 33px;
}

.cover-text-small h3 {
    font-size: 20px;
}


/*---------------------------------------Paper plane section */

#paper-plane-section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    background-color: #F4F6F6;
    justify-content: space-between;
}

#paper-plane-section h2 {
    text-transform: uppercase;
    margin-top: 5px; 
}

#paper-plane-section contact {
    margin-top: auto;
}

#bottom-text {
    padding-left: 170px;
    margin-bottom: 100px;
    padding-bottom: 130px;
}


#paper-plane {
    height: 300px;
    width: 70%;
    background: url(../images/paper-plane.png) no-repeat center center;
}



/*---------------------------------------About me section */

#about-me {
    padding-top: 20px;
}

#about-me h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color:#34495E;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url(../images/profile-img.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#text-about {
    width: 100%;
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 50px;
}


/*---------------------------------------Action buttons */

.btn {
    background-color:#D98880;
    border-color:#D98880; 
    color: white;
    font-family: Lato, sans-serif;
    font-size: 140%;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: #C0392B;
    border-color: #C0392B;
}

#btn-contact {
     text-align: center;
}

#btn-download {  
    text-align: center;
}

#btn-download a {
    margin-top: 4px;
}

.btn-request {
    padding-top: 10px;
}

@media (max-width: 630px) {
    #btn-download {
        font-size: 70%;
        padding-bottom: 10px;
    }
}

@media (max-width: 355px) {
    #top-button{
        padding-bottom: 4px;
    }
}
   
   
/*---------------------------------------Bottom-image */

#bottom-image {
    background: url(../images/cph-nyhavn.jpg) no-repeat center;
    height: 420px;
    width: 100%;
}

@media (max-width: 630px) {
    #bottom-image {
        height: 150px;
        background-size: cover;
        background-position: center;
        position: relative;
    }
}



/*---------------------------------------Skills */

.hard-skills {
    height: 400px;
    width: 100%;
    padding-top: 50px;
    color: #34495E;
}

.hard-skills h2 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    
}

.soft-skills {
    height: 400px;
    width: 100%;
    padding-top: 50px;
    color: #34495E;
}

.soft-skills h2 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.skills-icons h4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.skills-icons i {
    font-size: 55px;
}

.list-group-item {
    border-color: transparent;
}

@media (max-width: 630px) {
    .skills-icons h4 {
        font-size: 16px;
    }
}

@media (max-width: 630px) {
    .soft-skills {
        padding-top: 0px;
    }
}


/*---------------------------------------Work experience */

#work-experience {
    padding-top: 40px;
    background-color: #f2d7d5;
}

#work-experience h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
    padding-bottom: 30px;
}

.table h4 {
    text-transform: uppercase;
}

.left-side {
   float: right;  
}

.dates {
    font-family: Lato, sans-serif;
    font-weight: 700;
    
}


.time-table {
    vertical-align: top;
    margin-top: 0;
}

@media (max-width: 630px) {
    .table h4 {
        font-size: 16px;
    }
}

@media (max-width: 630px) {
    .table p {
        font-size: 14px;
    }
}

@media (max-width: 630px) {
    .dates {
        font-size: 14px;
    }
}


/*---------------------------------------Portfolio */

.project-done {
    width: 100%;
}

.project-done h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
}


.portfolio {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    padding-bottom: 30px;
}

.portfolio-image {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.portfolio-image img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border: 2px solid #34495E;
}

@media (max-width: 630px) {
.portfolio-image {
        flex: 50%;
        max-width: 30%;
    }
}


/*---------------------------------------Work together */

.work-together {
    height: 500px;
    width: 100%;
    padding-top: 50px;
    background-color: #f2d7d5;
}

.work-together h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
    padding-bottom: 30px;
}

.center-form {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10px;
}


@media (max-width: 630px) {
    .form-row {
        font-size: 80%;
}
}


/*---------------------------------------Footer links */


.social-networks {
    line-height: 75px;
    list-style-type: none;
}

.social-networks li {
   float: right;
}

.social-networks i {
    font-size: 220%;
    letter-spacing: 20px;
    margin: 1%;
    padding: 5%;
    color: #34495E;
}

@media (max-width: 630px) {
    .social-networks i {
        font-size: 185%;
    }
}

